.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: black;
}

.ui {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max-content;
}

.ui button {
  width: 100%;
  margin: 0 0 0.5rem 0;
}

.loader {
  width: 100vw;
}
